{{#affinity-engine engineId="menu-direction" fixtures=fixtures config=config isFocused=true as |engine|}}
  {{affinity-engine-stage engineId=engine.engineId initialScene="test-scenarios/stage/directions/menu"}}
{{/affinity-engine}}

<div data-test={{hook "data"}}></div>
