{{#if translatedText}}
  <div class='ae-menu-text' data-test={{hook "affinity_engine_stage_direction_menu_text"}}>{{translatedText}}</div>
{{/if}}

{{ember-flex-menu
  acceptKeys=acceptKeys
  cancelKeys=cancelKeys
  choices=translatedChoices
  columns=columns
  iconFamily=iconFamily
  keyboardActivated=keyboardActivated
  keyboardPriority=keyboardPriority
  moveDownKeys=moveDownKeys
  moveLeftKeys=moveLeftKeys
  moveRightKeys=moveRightKeys
  moveUpKeys=moveUpKeys
  onChoice=onChoice
}}
