{{#if translatedHeader}}
  <div class='ae-menu-header' data-test={{hook "menu_direction_header"}}>{{translatedHeader}}</div>
{{/if}}

{{ember-columnar-menu
  acceptKeys=acceptKeys
  cancelKeys=cancelKeys
  choices=translatedChoices
  columns=columns
  customClassNames=joinedCustomClassNames
  iconFamily=iconFamily
  keyboardActivated=keyboardActivated
  keyboardPriority=keyboardPriority
  moveDownKeys=moveDownKeys
  moveLeftKeys=moveLeftKeys
  moveRightKeys=moveRightKeys
  moveUpKeys=moveUpKeys
  onChoice=onChoice
}}
