{{#if header}}
  <div class='et-menu-header' data-test={{hook "menu_direction_header"}}>{{header}}</div>
{{/if}}

{{#each choices as |choice|}}
  {{ember-theater-director-direction-menu-option
    choice=choice
    choose=choose
    keyboardActivated=keyboardActivated
    keyboardPriority=keyboardPriority
    iconFamily=iconFamily
  }}
{{/each}}
